* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.card {
	display: flex;
	flex-direction: row;
	width: 80%;
    justify-content: space-between;
    box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
}


.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card_left > span {
    font-weight: 500;
}

.card_left > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    font-size: 30px;
}

.card_left > p {
    color: rgb(75, 72, 72);
    font-size: 20px;
    font-weight: 300;
}


.card_right img {
    width: 400px;   
    margin-bottom: -5px;
}
